@model List<Category>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1>Create Picture</h1>

<div class="row">
    <div class="col-md-4">
        <form action="create" method="POST">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Title</label>
                <input type="text" name="Title" class="form-control" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input type="text" name="Desc" class="form-control" required/>
            </div>

            <div class="form-group">
                <label class="control-label">Price</label>
                <input type="number" name="Price" class="form-control" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                <select class="form-select" name="CategoryId" aria-label="Choose Category">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
               <div class="form-group">
                   <label class="control-label">Lock Status</label>
                   <select class="form-select" name="Locked" aria-label="Lock Status">
                        <option value="false">False</option>
                       <option value="true">True</option>
                   </select>
               </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button class="btn btn-success">Back to List</button></a>
</div>