@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In this project, we create an online picture selling website. It doesnt have any real customer or artist or even picture<br /> But we will try a add upcoming updates ^^.<br />Please stay on the contact and sit tight for new updates...</p>
    <ul class="developers">
        <h2>Developers of this project</h2><br />
        <li>Yusuf Turan  211805018</li><br />
        <li>Recep Sami Özdemir  211805048</li><br />
        <li>Cemre Polat  211805054</li><br />
    </ul>
</div>
